.git
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/public/attendance-photos
database/database.sqlite
